* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: Roboto, system-ui, sans-serif;
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Image owner - Marcela Artola */
  background-image: url('images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.body-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: #050338;
}

.game-container h1 {
  font-size: 3rem;
  padding: 5px;
}

.player-selection {
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}