* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: Roboto, system-ui, sans-serif;
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Image owner - Marcela Artola */
  background-image: url('images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.body-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: #050338;
}

.game-container h1 {
  font-size: 3rem;
  padding: 5px;
}

.player-selection {
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game-container input {
  padding: 8px;
  font-size: 1rem;
  color: inherit;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

#player1 {
  margin-bottom: 12px;
}

#start {
  padding: 12px;
  font-size: 1rem;
  width: 150px;
  border: none;
  background: linear-gradient(90deg, #22ad7f, #3ea7ca);
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.3),
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 12px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

#start:hover {
  transform: scale(1.1);
  box-shadow:
    0 6px 8px rgba(0, 0, 0, 0.35),
    0 12px 25px rgba(0, 0, 0, 0.3),
    0 18px 50px rgba(0, 0, 0, 0.2);
}

#start:active {
  background: linear-gradient(90deg, rgba(34, 173, 127, 0.5), rgb(62, 167, 202, 0.5));
}